* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
    .container {
        background-color: rgb(37,79,114);
        width: auto;
        height: 100vh;
    }
        header {
            width: 1200px;
            height: 953px;
            margin: 0 0 0 15%;
        }
            nav {
                width: 1000px;
                height: 250px;
                margin: 0 0 0 100px;
            }
                nav ul {
                    list-style: none;
                }
                    nav ul li {
                        height: 30px;
                    }
                    nav img {
                        margin: 20px 0 0 20px;
                    }
                    nav ul li #search {
                        margin: 0 0 0 700px;
                        padding: 0 0 0 0;
                        top: 10px;
                        display: inline-block;
                    }
                    #donate {
                        margin: 0 0 0 632px;
                        display: inline-block;
                        position: absolute;
                        background-color: rgb(243, 207, 88);
                        padding: 8px 0 8px 0;
                        right: 365px;
                        width: 65px;
                        border-radius: 5px;
                        border: none;
                        color: black;
                    }
                    .buttonHolder {
                        width: 335px;
                        height: 50px;
                        position: absolute;
                        background-color: #1e2933;
                        border-radius: 10px;
                        right: 430px;
                        padding: 10px 10px 0 10px;
                    }
                        #labels a {
                            width: 100px;
                            height: 100px;
                            padding: 16px 0 20px 15px;
                            
                        }
                        .buttonHolder label a {
                            border-left: 1px solid black;
                            
                        }
                        #search {
                            height: 30px;   
                        }
                        #labels button {
                            background-color: rgb(47,99,143);
                            border: none;
                            width: 50px;
                            height: 35px;
                            border-radius: 5px;
                            margin: 0 10px 0 5px;
                            color: white;
                        }
                .listContainer {
                    background-color: rgb(55,117,169);
                    border-radius: 10px;
                    width: 1100px;
                    height: 50px;
                    margin: 110px 0 0 0;
                }
                .listContainer ul li {
                    display: inline-block;
                    color: white;
                    font-weight: 700px;
                    font-size: 20px;
                    margin: 15px 0 0 55px;
                }


            section {
                width: 1100px;
                height: 700px;
                position: relative;
                margin: 0 0 0 100px;
                bottom: 60px;
            }
                .textHolder {
                    width: 480px;
                    height: 350px;
                    display: inline-block;
                    margin: 80px 0 0 80px;
                }
                    .textHolder p {
                        color: rgb(255,211,75);
                        font-weight: 800;
                        font-size: 25px;
                    }
                    .textHolder span {
                        margin: 50px 0 50px 0;
                        color: white;
                    }
                .pictureHolder {
                    width: 450px;
                    height: 350px;
                    position: fixed;
                    display: inline-block;
                }
                article {
                    width: 1100px;
                    height: 280x;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    padding: 15px 0 0 0;
                    margin: 0 0 0 50px;
                    background-color: white;
                    border-radius: 10px;
                }
                    .news{
                        display: inline-block;
                        width: 500px;
                        height: 270px;
                        margin: 0 20px 0 30px;
                        background-color: white;
                        border-top: 5px solid rgb(117,168,211);
                        border-radius: 2px;
                    }
                        .news ul li {
                            list-style: none;
                            border-bottom: 1px solid gray;
                            opacity: 0.7;
                            margin: 10px 0 0 0;
                        }
                            .news ul li h3 {
                                padding: 30px 0 10px 0;
                            }
                            .news ul li a {
                                margin: 0 20px 0 0;
                                text-decoration: none;
                                font-size: 13px;
                                font-weight: 400;   
                            }
                    .pythonUsed {
                        display: inline-block;
                        width: 465px;
                        height: 270px;
                        margin: 0 20px 0 30px;
                        background-color: white;
                        border-top: 5px solid rgb(117,168,211);
                        border-radius: 2px;
                    }
                        .pythonUsed ul li {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            border-bottom: 1px solid black;
                            margin: 10px 0 0 0;
                            opacity: 0.7;
                        }

                            .pythonUsed ul li h3 {
                                padding: 30px 0 10px 0;
                            }
                            .pythonUsed ul li a {
                                margin: 0 10px 0 0;
                                text-decoration: none;
                                font-size: 13px;
                                font-weight: 400;
                            }
                                .pythonUsed ul li a span {
                                    background-color: gray;
                                    border-radius: 5px;
                                    font-size: 13px;
                                    font-weight: 500;
                                    padding: 2px;
                                    opacity: 0.90;
                                    color: black;
                                }

            footer {
                width: 1100px;
                height: 60px;
                position: absolute;
                bottom: 0px;
                padding: 0 0 0 550px;
                color:white;
            }
                footer ul li{
                    display: inline-block;
                    list-style-type: none;
                    padding: 10px 0 0 50px;
                    font-size: 15px;
                    margin: 0 0 10px 0;
                }
                    footer ul li span {
                        color: green;
                        font-size: 15px;
                    }
                footer p {
                    color:gray;
                    font-size: 10px;
                    margin: 0 0 0 120px;
                }
                    footer p a{
                    text-decoration: dashed;
                    color:gray;
                    font-size: 10px;
                    }
